* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background: #f8f8f8;
}

a {
    text-decoration: none;
}

nav {
    position: relative;
}

.nav-top{
    padding: 0 20px;
}

.nav-bottom {
    padding-left: 20px;
}

.nav-top {
    height: 32px;
    background: #000;
}

.nav-bottom {
    height: 48px;
    display: block;
    background: #fff;
}

.nav-logo {
    display: none;
    width: 106px;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-logo a {
    display: block;
    background-color: #f42;
    background: linear-gradient(to bottom right, #c09, #f42 85%);
    width: 106px;
    height: 80px;
    padding: 16px 20px;
}

.nav-logo img {
    width: 66px;
    height: 100%;
    position: relative;
    display: block;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: rgb(161, 161, 161);
}

nav ul li a:hover {
    color: #fff;
}

nav .right {
    float: right;
}

.nav-top ul li {
    line-height: 32px;
    margin: 0 6px;
    font-size: 13px;
}

.nav-bottom ul li {
    line-height: 48px;
    margin: 0 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-bottom ul li a:hover {
    color: #000;
}

.nav-top ul li:first-child,
.nav-bottom ul li:first-child {
    margin-left: 0;
}

.nav-top .right li:last-child {
    margin-right: 0;
}

nav .left li:first-child {
    font-weight: bold;
    color: #fff;
}

nav .left li:first-child a {
    color: #fff;
}

nav .nav-right {
    position: relative;
    float: right;
    display: flex;
    text-align: center;
    height: 100%;
}

nav .nav-right >* {
    height: 100%;
    width: 48px;
    position: relative;
    display: inline-block;
    border-left: 1px solid #f8f8f8;
}

nav .nav-right i {
    display: block;
    line-height: 48px;
    color: rgb(161, 161, 161);
    transform: scaleX(-1);
}

nav .nav-right .nav-toggle {
    display: none;
}

/* cover area */

.cover {
    padding: 4px;
    margin: 0 auto;
    position: relative;
}

.cover--grid3 {
    margin-top: 30px;
    height: 75vh;
    max-height: 560px;
}

.cover--grid3 h2 {
    font-family: 'Coda Caption', sans-serif;
    color: #fff;
}

.cover--grid3 .cover-story {
    width: 33.333%;
    height: 50%;
    float: left;
    padding: 4px;
    position: relative;
    overflow: hidden;
}

.cover--grid3 .cover-story h2 {
    position: absolute;
    left: 25px;
    right: 25px;
    bottom: 30px;
    line-height: 1.25;
    font-size: 20px;
}

.cover--grid3 .promoted img {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 400px;
}

.cover--grid3 .promoted h2 {
    bottom: 40px;
    font-size: 40px;

}

.cover--grid3 .promoted {
    width: 66.666%;
    height: 100%;
}

.cover--grid3 .cover-story div {
    width: 100%;
    height: 100%;
}

.cover--grid3 .promoted div {
    background: url('images/Microsoft2-796x530.jpg') center/cover;
}

.cover--grid3 .story-2 div {
    background: url('images/rbcc-web_ad-feature_img-1.jpg') center/cover;
}

.cover--grid3 .story-3 div {
    background: url('images/1-40-796x417.jpg') center/cover;
}

.wrapper {
    margin: 70px auto 0;
    max-width: 1192px;
    padding: 0 20px;
}

.wrapper section {
    margin-bottom: 60px;
}

.wrapper section h2 {
    font-size: 25px;
    font-family: 'Coda Caption', sans-serif;
    color: rgb(212, 103, 0);
    margin-left: 10px;
}

.wrapper img {
    width: 100%;
}

.wrapper .u-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px
}

.wrapper .latest ul li {
    flex-basis: calc(25% - 20px);
    margin: 10px;
}

.wrapper .latest ul li h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.25;
    margin-top: 10px;
}

.deals header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.deals .deals-header-more a {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid rgb(212, 103, 0);
    color: rgb(212, 103, 0);
    font-size: 14px;
}

.deals header div a:first-child {
    border-left: none;
}

.wrapper .deals ul li {
    flex-basis: calc(25% - 20px);
}

.deals .investmentCard {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
}

.deals .investmentCard img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 65px;
}

.investmentCard .investmentCard-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.investmentCard .investmentCard-header > h4,
.investmentCard .investmentCard-header > div {
    padding: 10px 0 10px 90px;
}

.investmentCard .investmentCard-header > h4 {
    background: rgb(212, 103, 0);
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.investmentCard .investmentCard-header > div {
    background: #ffebe6;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.investmentCard .investmentCard-card,
.investmentCard .story-byline {
    background: #fffaf8;
    padding: 12px;
}

.investmentCard .investmentCard-card a,
.investmentCard .story-byline a {
    display: block;
    color: #000;
    font-size: 13px;
    line-height: 2;
}

.investmentCard .investmentCard-card {
    border-bottom: 1px solid rgb(212, 103, 0);
}

.investmentCard .story-byline {
    flex: 1;
}

.wrapper .sections section {
    height: 500px;
    flex-basis: 33.333%;
}

.wrapper .u-row >*:nth-child(odd) {
    background: lemonchiffon;
}

.wrapper .u-row >*:nth-child(even) {
    background: lightcyan;
}

footer .social {
    height: 175px;
    background: rgb(20, 20, 20);
}

footer .copyright {
    height: 100px;
    background: black;
}

@media screen and (max-width: 1023px) {
    .nav-logo {
        display: block;
    }

    nav .nav-top,
    nav .nav-bottom {
        margin-left: 106px;
    }
    
    .wrapper .latest ul li {
        flex-basis: calc(33.333% - 20px);
    }

    .wrapper .deals ul li {
        flex-basis: calc(33.333% - 20px);
    }

    .wrapper .deals ul li:last-child {
        display: none;
    }

    .wrapper .sections section {
        height: 500px;
        flex-basis: 50%;
    }

    .cover--grid3 .promoted img {
        display: none;
    }

    .cover--grid3 .cover-story h2 {
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 20px;
        line-height: 1.25;
        font-size: 16px;
    }
    
    .cover--grid3 .promoted h2 {
        bottom: 30px;
        font-size: 32px;
    }

    .deals header {
        display: block;
    }

    .deals .deals-header-more {
        margin-top: 15px;
    }
}

@media screen and (max-width: 767px) {
    nav .nav-top {
        display: none;
    }
    
    .nav-logo a {
        height: 48px;
    }

    nav .nav-right .nav-toggle {
        display: inline-block;
    }

    nav .nav-bottom ul {
        display: none;
    }

    .cover--grid3 {
        height: initial;
        max-height: initial;
    }

    .cover--grid3 .cover-story {
        width: 100%;
        height: 310px;
        float: none;
    }

    .cover--grid3 .promoted h2 {
        bottom: 20px;
        font-size: 16px;
    }

    .wrapper .latest ul li {
        display: flex;
        flex: 0 0 100%;
    }

    .wrapper .latest ul li img {
        display: block;
        width: 90px;
        height: 90px;
        object-fit: cover;
    }

    .wrapper .latest ul li h4 {
        display: block;
        margin: 2px 13px;
        font-size: 15px;
    }

    .deals .deals-header-more a {
        display: block;
        border: none;
        margin-top: 12px;
    }
    
    .wrapper .deals ul li {
        flex-basis: 100%;
    }

    .wrapper .sections section {
        height: 500px;
        flex-basis: 100%;
    }
}